In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

#Loading Data

In [2]:
cancer = pd.read_csv('cancer.csv')

In [3]:
cancer.head()

      V1     V2      V3      V4  ...     V28     V29      V30  Class
0  17.99  10.38  122.80  1001.0  ...  0.2654  0.4601  0.11890      2
1  20.57  17.77  132.90  1326.0  ...  0.1860  0.2750  0.08902      2
2  19.69  21.25  130.00  1203.0  ...  0.2430  0.3613  0.08758      2
3  11.42  20.38   77.58   386.1  ...  0.2575  0.6638  0.17300      2
4  20.29  14.34  135.10  1297.0  ...  0.1625  0.2364  0.07678      2

[5 rows x 31 columns]

In [4]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   V1      569 non-null    float64
 1   V2      569 non-null    float64
 2   V3      569 non-null    float64
 3   V4      569 non-null    float64
 4   V5      569 non-null    float64
 5   V6      569 non-null    float64
 6   V7      569 non-null    float64
 7   V8      569 non-null    float64
 8   V9      569 non-null    float64
 9   V10     569 non-null    float64
 10  V11     569 non-null    float64
 11  V12     569 non-null    float64
 12  V13     569 non-null    float64
 13  V14     569 non-null    float64
 14  V15     569 non-null    float64
 15  V16     569 non-null    float64
 16  V17     569 non-null    float64
 17  V18     569 non-null    float64
 18  V19     569 non-null    float64
 19  V20     569 non-null    float64
 20  V21     569 non-null    float64
 21  V22     569 non-null    float64
 22  V23     569 non-null    float64
 23  V24     569 non-null    float64
 24  V25     569 non-null    float64
 25  V26     569 non-null    float64
 26  V27     569 non-null    float64
 27  V28     569 non-null    float64
 28  V29     569 non-null    float64
 29  V30     569 non-null    float64
 30  Class   569 non-null    int64
dtypes: float64(30), int64(1)
memory usage: 137.9 KB

In [5]:
cancer['Class'].value_counts()

1    357
2    212
Name: Class, dtype: int64

In [6]:
X = cancer.drop(['Class'],axis=1)

In [7]:
y = cancer['Class']

#Train And Test Splitting

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(455, 30) (114, 30) (455,) (114,)

#Feature Scaling

In [11]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#Performing LinearDiscriminantAnalysis(LDA)

In [12]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

lda = LDA(n_components=1)
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

print(X_train.shape,X_test.shape,y_train.shape)

(455, 1) (114, 1) (455,)

#Model

In [13]:
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier(max_depth=2, random_state=0)

classifier.fit(X_train, y_train)

RandomForestClassifier(max_depth=2, random_state=0)

In [15]:
y_train_pred = classifier.predict(X_train)

print("Metrics on Train samples")
print("============================================================== ")
print("confusion_matrix: \n",confusion_matrix(y_train,y_train_pred))
print("classification_report: \n",classification_report(y_train,y_train_pred))
print("============================================================== ")

y_test_pred = classifier.predict(X_test)

print("Metrics on Test samples ")
print("============================================================== ")
print("confusion_matrix: \n",confusion_matrix(y_test,y_test_pred))
print("classification_report: \n",classification_report(y_test,y_test_pred))
print("============================================================== ")

Metrics on Train samples
==============================================================
confusion_matrix:
 [[283   3]
 [  2 167]]
classification_report:
               precision    recall  f1-score   support

           1       0.99      0.99      0.99       286
           2       0.98      0.99      0.99       169

    accuracy                           0.99       455
   macro avg       0.99      0.99      0.99       455
weighted avg       0.99      0.99      0.99       455

==============================================================
Metrics on Test samples
==============================================================
confusion_matrix:
 [[65  6]
 [ 1 42]]
classification_report:
               precision    recall  f1-score   support

           1       0.98      0.92      0.95        71
           2       0.88      0.98      0.92        43

    accuracy                           0.94       114
   macro avg       0.93      0.95      0.94       114
weighted avg       0.94      0.94      0.94       114

==============================================================